#root {
	max-width: 1280px;
	margin: auto;
	text-align: center;
}

.DisplayEmployee {
	display: flex;
	flex-direction: column;
	gap: 1em;
	justify-content: center;
	align-items: center;
}

.DisplayEmployee > img {
	border: solid;
	border-radius: 100%;
	width: 200px;
	height: 200px;
}

div {
	margin-bottom: 10em;
}
